<div class="wrapper">
  <div class="boton-auto esquina esquina-superior-izquierda" (click)="obtenerMensajeFetch()">
    <div class="auto-icon">🏎️</div>
    <div class="auto-label">GET</div>
  </div>
  <div class="boton-auto esquina esquina-superior-derecha" (click)="crearUsuario()">
    <div class="auto-icon">🚙</div>
    <div class="auto-label">POST</div>
  </div>
  <div class="boton-auto esquina esquina-inferior-izquierda" (click)="actualizarUsuario()">
    <div class="auto-icon">🚕</div>
    <div class="auto-label">PUT</div>
  </div>
  <div class="boton-auto esquina esquina-inferior-derecha" (click)="eliminarUsuario()">
    <div class="auto-icon">🚗</div>
    <div class="auto-label">DELETE</div>
  </div>
  <p class="mensaje">{{ mensaje }}</p>
</div>
